@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}
#com-container{
    transition: all .3s ease;
}
nav{
    transition: all .5s ease-in;
}
nav.fixed{
    position: fixed;
    box-shadow: 0 0 10px rgb(238, 236, 236);
}